<style type="text/css">
body {
  padding: 0px;
  margin: 0px;
}
#wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
#toc {
  width: 20%;
  padding: 10px;
  border-right: 1px solid #bbb;
  background-color: #fffafa;
  font-size: 12px;
  line-height: 24px;
  overflow: scroll;
}
.toc-item {
  padding-left: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0px 12px;
}
.is-selected-toc-item {
  background-color: #d0f0d0;
  border-radius: 20px;
}
textarea {
  padding: 0px;
  margin: 0px 0px 0px 10px;
  border: 0px solid #000000;
  width: 80%;
  height: 100%;
  font-size: 14px;
  font-family: arial;
  white-space: nowrap;
  background: rgba(255, 255, 255, 0);
  outline: none;
  line-height: 20px;
  color: #333333;
}
#light-up {
  position: absolute;
  top: 0%;
  left: 21%;
  width: 78%;
  height: 100%;
  z-index: -1;
  background-color: #ffffff;
}
#shadow {
  position: absolute;
  top: 0%;
  left: 21%;
  width: 78%;
  height: 100%;
  z-index: -2;
  background-color: #aaaaaa;
}
</style>

<title>LightUp Markdown</title>
<div id="wrapper">
  <div id="toc">
    <div class="toc-item" v-for='(item, index) in toc' v-html="createTocItem(item)" @click="lightUpByIndex(index)"
      :class="{'is-selected-toc-item': index === selectedTocItemIndex}"></div>
  </div>
  <textarea id="editor" v-model="markdown" @click="selectCurrentLevel" @scroll="onScroll"></textarea>
</div>
<div id="light-up"></div>
<div id="shadow"></div>

<script type="text/javascript" src="./vue.min.js"></script>
<script>

let vm = new Vue({
  el: '#wrapper',
  data: {
    markdown: window.localStorage.getItem('markdown'),
    toc: '',
    // [{level:1, string: 'aaa', lineNumber: 12, length: 10}, {level:2, string: 'aaa'}, {level:3, string: 'aaa'}]
    selectedTocItemIndex: 0,
    selectedItemTopCopy: 0
  },
  mounted() {
    window.addEventListener('keydown', this.useHotKey);
    this.toc = this.parse(this.markdown)
  },
  watch: {
    markdown: (string) => {
      vm.toc = vm.parse(string)
      window.localStorage.setItem('markdown', string)
      vm.selectCurrentLevel()
    }
  },
  methods: {
    onScroll() {
      const ta = document.getElementById("editor");
      const lightUp = document.getElementById("light-up");
      let top = window.getComputedStyle(lightUp, null).getPropertyValue('top').replace("px", "");
      top = this.selectedItemTopCopy - ta.scrollTop
      const lightUpHeight = window.getComputedStyle(lightUp, null).getPropertyValue('height').replace("px", "")
      lightUp.style = `height: ${lightUpHeight}px; top: ${top}px;`
    },
    stopLightUp(event) {
      if (event && event.keyCode === 17) {
        return
      }
      const lightUp = document.getElementById("light-up");
      lightUp.style = `height: 100%; top: 0px;`
    },
    useHotKey(event) {
      if (event.altKey && event.keyCode === 40) {
        // TocItem +移動
        const index = Math.min(++this.selectedTocItemIndex, this.toc.length-1)
        this.lightUpByIndex(index)
        this.jumpToSelectedTocItemLocation()
      } else if (event.altKey && event.keyCode === 38) {
        // TocItem -移動
        const index = Math.max(--this.selectedTocItemIndex, 0)
        this.lightUpByIndex(index)
        this.jumpToSelectedTocItemLocation()
      } else if (event.ctrlKey && event.keyCode === 188) {
        this.selectCurrentLevel()
      }
    },
    jumpToSelectedTocItemLocation() {
      const ta = document.getElementById("editor");
      const lineNumberTolocate = this.toc[this.selectedTocItemIndex].lineNumber
      const length = this.markdown.split("\n", lineNumberTolocate).join("\n").length
      ta.selectionStart = length
      ta.selectionEnd = length
    },
    lightUpByIndex(index) {
      this.selectedTocItemIndex = index
      const selected = this.toc[index]
      this.lightUp(selected)
      this.selectedItemTopCopy = (selected.lineNumber-1) * 20
    },
    selectCurrentLevel(event) {
      const ta = document.getElementById("editor");
      const currentLineNumber = this.markdown.substr(0, ta.selectionEnd).split('\n').length
      const index = this.toc.map((item) => {
        return item.lineNumber
      }).filter((element) => {
        return element <= currentLineNumber
      }).length - 1

      // クリックの時、すでにlightup済みであれば何もしない
      const isMouseEvent = event instanceof MouseEvent
      if (isMouseEvent && index === this.selectedTocItemIndex) {
        return;
      }

      if (index >= 0) {
        this.lightUpByIndex(index)
      } else {
        this.stopLightUp()
      }
    },
    lightUpCurrentLevel() {
      this.lightUpByIndex(this.selectedTocItemIndex)
    },
    createTocItem(item) {
      let level = ''
      for(let i=0; i<item.level-1; i++) level += '&nbsp;&nbsp;'
      return level + (item.string || '')
    },
    parse(string) {
      const parsed = string.split('\n').map((line, index) => {
        return `${line},${index+1}`
      }).filter((line) => {
        return line.match(/^#/)
      }).map((element) => {
        let item = {}
        const string = (/[^#]+/.exec(element) || [])[0]
        item.string = string.split(",")[0]
        item.level = element.split('#').length - 1
        item.lineNumber = parseInt(string.split(",")[1], 10)
        return item
      })
      return parsed
    },
    lightUp(item) {
      const ta = document.getElementById("editor");
      const lineHeight = 20

      let lightUpHeight = (() => {
        const index = this.toc.indexOf(item)
        let lineCount = Math.max(this.markdown.split('\n').length - item.lineNumber, 1);

        for (let i=index+1; i<this.toc.length; i++) {
          if (item.level >= this.toc[i].level) {
            lineCount = this.toc[i].lineNumber - item.lineNumber
            break
          } else {
            // nothing
          }
        }
        return lineCount * lineHeight
      })()

      const jump = (item.lineNumber - 1) * lineHeight;
      let top = jump - ta.scrollTop

      const lightUp = document.getElementById("light-up");
      if (top < 0) {
        // 上にはみ出る時
        lightUp.style = `height: ${lightUpHeight}px; top: 0px;`
        ta.scrollTop = ta.scrollTop + top
      } else if (ta.clientHeight < top) {
        // 下にはみ出る時
        top = ta.clientHeight - lightUpHeight
        lightUp.style = `height: ${lightUpHeight}px; top: ${top}px;`
        ta.scrollTop = ta.scrollTop + lightUpHeight
      } else {
        lightUp.style = `height: ${lightUpHeight}px; top: ${top}px;`
      }
    }
  }
})

</script>